# Exploratory Data Analysis - clustering - part 2

Попробуем кластеризовать только новости.

In [ ]:
# Re-install pytables for hdf support (google colab has old & glitchy pytables)
#!pip uninstall -y tables
#!pip install tables

Новости отобраны в выборке fe3.

In [1]:
import pandas as pd
df = pd.read_hdf('fe3.h5')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51302 entries, 6 to 227650
Data columns (total 39 columns):
filename         51302 non-null object
text             51302 non-null object
lang             51302 non-null object
url              51302 non-null object
site             51302 non-null object
time             51302 non-null object
title            51302 non-null object
description      51236 non-null object
news             51302 non-null object
politics         51302 non-null object
elections        51302 non-null object
legislation      51302 non-null object
incidents        51302 non-null object
crime            51302 non-null object
society          51302 non-null object
markets          51302 non-null object
finance          51302 non-null object
business         51302 non-null object
economy          51302 non-null object
gadgets          51302 non-null object
auto             51302 non-null object
apps             51302 non-null object
internet         51302 non-null object
technology       51302 non-null object
sport            51302 non-null object
e-sport          51302 non-null object
esport           51302 non-null object
sports           51302 non-null object
movies           51302 non-null object
music            51302 non-null object
games            51302 non-null object
books            51302 non-null object
arts             51302 non-null object
entertainment    51302 non-null object
health           51302 non-null object
biology          51302 non-null object
physics          51302 non-null object
genetics         51302 non-null object
science          51302 non-null object
dtypes: object(39)
memory usage: 15.7+ MB

In [2]:
df.head()

,filename,text,lang,url,site,time,title,description,news,politics,...,music,games,books,arts,entertainment,health,biology,physics,genetics,science
6,dataset/20191108/15/8549607152500932485.html,\n\n\n\n\n\n\n\n\n\n\n\nTether Responds to Mar...,en,https://www.channel3000.com/news/national-news...,CHANNEL3000,2019-11-08T15:40:38+00:00,GM sells Ohio plant to electric pickup truck s...,"A massive Lordstown, Ohio, auto assembly plant...",True,False,...,False,False,False,False,False,False,False,False,False,False
14,dataset/20191108/15/830332542632492475.html,\n\n\n\n\n\n\n\n\n\n\n\nGM sells Ohio plant to...,en,https://www.wonderzine.com/wonderzine/style/st...,Wonderzine,2019-11-08T15:47:10+00:00,adidas и Prada анонсировали коллаборацию,"Сообщается, что они выпустят обувную капсулу",True,False,...,False,False,False,False,False,False,False,False,False,False
15,dataset/20191108/15/8334514181545177130.html,\n\n\n\n\n\n\n\n\n\n\n\nParis police detain ro...,en,https://saratov24.tv/news/saratovtsy-brosilis-...,Саратов 24,2019-11-08T15:03:00+00:00,Саратовцы бросились врассыпную от журналистов,Саратовцы приняли участие в общественных слуша...,True,False,...,False,False,False,False,False,False,False,False,False,False
19,dataset/20191108/15/6322622075196907308.html,\n\n\n\n\n\n\n\n\n\n\n\nRakyat will understand...,en,https://www.foxnews.com/sports/michael-jordan-...,Fox News,2019-11-08T15:05:04+00:00,Michael Jordan dismissed load management contr...,As the NBA appeared to have moved past the pre...,True,False,...,False,True,False,False,False,False,False,False,False,False
21,dataset/20191108/15/3689716734325452356.html,\n\n\n\n\n\n\n\n\n\n\n\nПродолжаются народные ...,ru,https://glavnoe.ua/news/n357008428-rossija-nac...,Главное™,2019-11-08T15:06:00+00:00,Россия начала продавать билеты на пассажирские...,Ежедневные рейсы через Крымский мост запустят ...,True,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
#!pip install nltk

In [3]:
import nltk
#nltk.download('stopwords', download_dir='nltk_data')
nltk.data.path.append('nltk_data')

In [4]:
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [5]:
%%time
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words=stopwords.words('english'))
data = cv.fit_transform(df[df['lang'] == 'en']['text'].values)

CPU times: user 8.76 s, sys: 68 ms, total: 8.83 s
Wall time: 8.84 s

Количество признаков:

In [6]:
data.shape[1]

159804

## Кластеризация

In [8]:
%%time
from sklearn.cluster import MiniBatchKMeans
cl = MiniBatchKMeans(n_clusters=10)
cl.fit(data)
cl.inertia_

CPU times: user 1.01 s, sys: 1.34 s, total: 2.35 s
Wall time: 672 ms

28323886.501368124

In [11]:
%%time
from sklearn.cluster import DBSCAN
cl2 = DBSCAN()
cl2.fit(data)
len(cl2.components_)

0

In [17]:
cl2.labels_

array([-1, -1, -1, ..., -1, -1, -1])

In [16]:
[x for x in cl2.labels_ if x != -1]

[]